X-APP-TOKEN=
start_date_iso=2025-09-20T00:00:00

DESTINATION_DATABASE_NAME=
DESTINATION_SERVER_NAME= #<- localhost if running locally, docker service name if running docker
DESTINATION_DB_USERNAME=
DESTINATION_DB_PASSWORD=
DESTINATION_PORT=5432 